.features
{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.features__title
{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    
}
.features__discription
{
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);

    letter-spacing: 0.03em;

    color: #757575;
    @media screen and (max-width:767px) { 
        margin-bottom: 30px;
    }
}

@media screen and(min-width:768px) 
{
    
    .features__list
    {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .features__item
    {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;       
    }
    .features__title
    {
        text-align: left;
    }            
}

@media screen and (min-width:1200px) 
{
    
    .features__item
    {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;

               
    }
    .features__title
    {
        text-align: left;
    }    
}
    
/*                                                                      fuateres before after*/
.features__item
{

    &::before{
        margin-bottom: 30px;
        content: "";
        width: 100%;
        height: 120px;
        display: block;
        background-color: #F5F4FA;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
}
.features__item
{
    &:nth-child(1)::before
    {
    background-image: url(../images/antenna.png);
    }
}
.features__item
{
    &:nth-child(2)::before
    {
    background-image: url(../images/clock.png);
    }
}
.features__item
{
    &:nth-child(3)::before
    {
    background-image: url(../images/diagram.png);
    }
}
.features__item
{
    &:nth-child(4)::before
    {
    background-image: url(../images/astronaut.png);
    }
}

