
.footer 
{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    
}
.footer__container
{
   
    
    @media screen and (min-width:1200px){
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

}
.footer-form
{
    @media screen and (min-width:1200px) {

        display: flex;
    }
}
.footer-address-social__container
{
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}

.logo_color--white
{
    text-align: center;
    color: var(--white-color);
    @media screen and (min-width:1200px) {
        text-align: left;        
    }
}

.address
{
    margin-top: 20px;
    text-align: center;
    @media screen and (min-width:1200px) {
        text-align: left;        
    }
}
.address__street
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: var(--white-color);



}
.address__email ,.address__phone
{
    margin-top: 8px;
    font-style:normal;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


}

.footer-social{
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width:768px){margin-top: 0;
    }
    
    @media screen and (min-width:1200px){
        margin-left: 70px;
    }
    

}
.footer-social__title
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    @media screen and (min-width:1200px) {
        text-align: left;        
    }
}
.footer__icon-list
{
    margin-top: 20px;
    justify-content: center;
}
.icon-list__link--background
{
    background-color: rgba(255, 255, 255, 0.1);
}
.icon-list__icon--fill
{
    fill: var(--white-color);
}



.footer-form__container
{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    @media screen and (min-width:1200px){
        margin:0;
        margin-left: 93px;
        max-width: 570px;
    }
     
   
}
.footer-form__title{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--white-color);
    @media screen and (min-width:1200px){
        text-align: left;
    }
}
.footer-form__wrapper{
    margin-top: 20px;
}
.footer-button__container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    display: block;
}
.footer-form__input-button{
    width: 450px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color:#2F303A;
    color: #FFFFFF;
}

.footer-form__button-button{

    @media screen and (max-width:1199px){
        margin-top: 20px;  
        left:50%;
        transform: translateX(-50%);
    }
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 29px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height:calc(30 / 16);
    letter-spacing: 0.06em;

    color: #FFFFFF;
    @media screen and (min-width:1200px){
        margin-left: 12px;
    }
}

.footer-form__icon{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 24px;
    height: 24px;
}