
.header-portfolio
{
    border-bottom: 1px solid #ECECEC;
}
.portfolio
{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-menu-list
{
    display: flex;
    justify-content: center;
}
.portfolio-menu-item
{
    &:not(:last-child)  
    {
    margin-right: 8px;
    }
}
.portfolio-menu-button
{
font-family: 'Roboto', sans-serif;
width: 100%;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background: #F5F4FA;
border-radius: 4px;

cursor: pointer;
padding-top: 6px;
padding-left: 22px;
padding-bottom: 6px;
padding-right: 22px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,&:focus
    {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);   
    }

}



/*----------------------------------------------------------portfolio list -------------------------------*/


.portfolio-item
{
    cursor: pointer;
}
.portfolio-img-container
{
    position: relative;
    overflow: hidden;
}


.portfolio-img-text
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    

    transform: translateY(100%);
    transition: transform 250ms linear;
    
}
.portfolio-list
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -30px;
    
}
.portfolio-item
{
    flex-basis: calc((100% / 3) - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    
    &:hover .portfolio-img-text
    {
    transform: translateY(0);
    }
    
    &:hover
    {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
    }

}

.portfolio-title-container
{
    
    width: 370px;
    height: 110px;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
    
}
.portfolio-item-title
{
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--dark-color);

}
.portfolio-item-product
{
    font-weight: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--silver-dark-color);

}