.team
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #F5F4FA;
    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }  
}

.team__title
{
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: calc(33 / 28);    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    @media  screen and(min-width:1200px) {
        font-size: 36px;
        line-height: 1.17;
    }
}

.team__list
{
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap; 
        margin: -15px;       
    }
}
.card-team
{

    background-color:var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width:767px){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px){
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }
    
}
.team__photo{
    display: block;
    max-width: 100%;
    height: auto;
}

.card-team__title-container
{
    padding-top: 30px;
    padding-bottom: 24px;
}
.card-team__name
{
font-weight: 500;
font-size: 16px;
text-align: center;
line-height: calc(19 / 16);
letter-spacing: 0.03em;
color: var(--dark-color);



}
.card-team__position
{
margin-top: 10px;

font-weight: normal;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--silver-dark-color);
}

.icon-list
{
    display: flex; 
}
.team__icon-list
{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.icon-list__link
{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover , &:focus
    {
    background-color:var(--blue-color);
    }

}
.icon-list__icon
{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .icon-list__link:hover &, .icon-list__link:focus &
    {
    fill: var(--white-color);
    }
}
.icon-list__item
{
    &:not(:last-child)
    {
    margin-right: 10px;
    }
}
